.logoTextContainer {
  display: flex;
  /* background: red; */ /* DEV */
  margin: 16px 0px 0px 16px;
  flex-direction: row;
  /* min-width: 200px;
  width: 200px; */
  /* min-height: 69px; */
  height: 69px;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-start;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 69px;
  height: 69px;
  align-self: center
}

.noDeco {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  text-decoration: none !important;
}

.linkText {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  width: 115px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none !important;
}
