.background {
  /* background: lightblue; */ /* DEV */
  width: 100%;
  margin: auto;
  flex-direction: row !important;
  z-index: 1;
  display: flex;
  position: sticky; /* STICKY NEEDS NO HEIGHT ON PARENT */
  top: 0px; /* WHERE STICKY SHOULD STOP */
  justify-content: center;
  padding: 8px 0px;
  align-self: center;
}

#eachButton {
  display: flex;
  flex-direction: row !important;
  padding-top: 8.49px !important;
  color: black;
  min-width: 0px !important;
  min-height: 0px !important;
  width: 28px !important;
  height: 21px !important;
  line-height: 21px !important;
  border-radius: 0px;
  border: 1px solid black;
  padding: 0px !important;
  align-items: baseline;
  background: rgba(230, 46, 175, 0.363); /* DEFAULT COLOR */

  /* background: yellow; */
  /* background: yellow !important; */
  /* box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); */
  /* box-shadow: unset; */
}

.buttonsAndHintContainer {
  display: flex !important;
  flex-direction: row !important;
  /* background: lightcoral !important; */ /* DEV */
}

.counter {
  /* background: lightslategray; */ /* DEV */
  flex-direction: row !important;
  display: flex;
  color: beige !important;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  max-height: 21px !important;
  justify-content: flex-start;
}

/* LESS THAN 300px */
@media screen and (max-width: 300px) {
  .counter {
    font-weight: 500;
    font-size: 14px;
  }
  #eachButton { width: 26px !important }
}

/* MORE THAN 956px (TWO CARDS) */
@media screen and (min-width: 957px) {
  .buttonsAndHintContainer { padding-left: var(--paginateMargin) }
}