.background {
  width: 100%;
  margin: auto;
  /* position: sticky; */
  /* top: 0px; */
  /* top: 150px !important; */
  /* height: 10vw; */
  /* display: flex; */
  /* position: relative; */
  flex-direction: row !important;
  z-index: 1;

  

  /* position: absolute; */
  
  display: flex;
  position: sticky; /* STICKY NEEDS NO HEIGHT ON PARENT */
  top: 0px; /* WHERE STICKY SHOULD STOP */
  width: 100%;
  /* background-color: red; */

  /* position: sticky; */
  /* position: -webkit-sticky;  */
  /* top: 100px; */

  /* display: flex; */
  /* position: sticky; */
  /* position: -webkit-sticky;  */
  /* top: 100px; */

  /* flex-shrink: 0;
  overflow: visible;
  position: -webkit-sticky;
  position: sticky; */

  /* margin: 0;
  overflow: visible; */
  /* z-index: 1000000 !important; */
  justify-content: center;
  padding: 8px 0px;
  background: blue; /* DEV */
  /* width: fit-content; */
  align-self: center;
  
  /* margin-left: 50px; */ /* COMPENSATION OF PAGE COUNTER */
  /* margin-left: max(50px, 1%); */
  /* margin-left: max(0%, 50px); */
  /* margin-left: min(1%, 50px); */
  /* margin-left: max(1%, 50px); */
  /* margin-left: max(10px, 1%); */
  /* margin-left: 3%; */
}

#eachButton {
  display: flex;
  flex-direction: row !important;
  padding-top: 8.49px !important;
  color: black;
  min-width: 0px !important;
  min-height: 0px !important;
  width: 30px !important;
  height: 21px !important;
  line-height: 21px !important;
  border-radius: 0px;
  border: 1px solid black;
  /* padding-top: 7px !important; */
  /* padding: 0px !important; */
  padding: 0px !important;
  /* margin: 0px !important; */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  align-items: baseline;
  /* descent-override: 15% !important; */
}

.test {
  display: flex !important;
  flex-direction: row !important;
}

.counter {
  /* display: flex; */
  width: 110px; /* COMPENSATED UPPER TO CENTER */
  /* position: relative; */
  flex-direction: row !important;
  display: flex;
  position: absolute;
  color: beige;
  background: lightslategray; /* DEV */
  justify-content: center;
  font-weight: 500;
  justify-content: flex-start;
  right: -110px
}

@media screen and (max-width: 956px) { /* LESS THAN 956px = TWO CARDS */
  /* .background {
    width: 450px;
  } */
  /* .counter {
    position: relative !important;
    right: unset !important;
  } */
}

@media screen and (min-width: 957px) { /* MORE THAN 957px */

}

/* html:not([data-scroll='0']) header {
  position: fixed;
} */

/* .background:not([data-scroll='200']) {
  position: fixed;
} */

/* html:is([data-scroll='100']) {
  .background {
    position: fixed;
  }
}
 */

/* html:is([data-scroll='100']) {
  .background {
    position: fixed
  }
} */

/* html:not([data-scroll='0']) .background {
  padding-top: 3em;
} */

/* html:is([data-scroll='150']) .background {
  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
} */