.background {
  background: lightblue; /* DEV */
  /* width: 100%; */
  margin: auto;
  flex-direction: row !important;
  z-index: 1;
  display: flex;
  position: sticky; /* STICKY NEEDS NO HEIGHT ON PARENT */
  top: 0px; /* WHERE STICKY SHOULD STOP */
  justify-content: center;
  padding: 8px 0px;
  align-self: center;
  /* --testWidth: 100px; */
}

#eachButton {
  display: flex;
  flex-direction: row !important;
  padding-top: 8.49px !important;
  color: black;
  min-width: 0px !important;
  min-height: 0px !important;
  width: 30px !important;
  height: 21px !important;
  line-height: 21px !important;
  border-radius: 0px;
  border: 1px solid black;
  padding: 0px !important;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  align-items: baseline;
}

.test {
  display: flex !important;
  flex-direction: row !important;
  background: lightcoral !important;
  
}

.testTest {
  background: yellow;
  height: 20px !important;
  /* width: 10px */
  /* width: var(--width) */
}

.abc {
  display: flex;
  position: absolute;
  --width: 100%;
  
  /* --testWidth: calc(100% - 1px); */
  /* --testWidth: 100%; */
  /* --testWidth: var(--width); */
}

.counter {
  background: lightslategray; /* DEV */
  /* width: 110px; */ /* COMPENSATED UPPER TO CENTER */
  /* --testWidth: 100% !important; */
  /* --testWidth: calc(100%); */
  /* --width: fit-content; */
  /* --width: 100%; */
  /* --width: 100%; */
  /* width: fit-content; */
  /* width: max-content; */
  flex-direction: row !important;
  display: flex;
  position: absolute;
  /* position: relative; */
  color: beige !important;
  justify-content: center;
  font-weight: 500;
  justify-content: flex-start;
  /* right: -110px; */
  /* right: 110px; */
  /* right: var(--testWidth) !important */
  /* --testWidth: 100px; */
  right: calc(var(--testWidth) * -1)
  /* right: var(--testWidth) */
}

/* 956 - 957 */

/* LESS THAN 956px */
@media screen and (max-width: 956px) {
  .test {
    /* margin-left: -110px */
    /* --testWidth: 100px; */
    margin-left: calc(var(--testWidth) * -1)
    
  }
}