.background {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
}

.bgImg {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.bgImage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../../images/landingBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(3px);
  top: -5px;
  left: -5px;
  padding-right: 10px;
  padding-bottom: 10px; 
}

.buttonsAndText {
  /* background: gray; */ /* DEV */
  min-height: 150px !important;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;  
  z-index: 10001;
}

.text {
  /* background: red; */ /* DEV */
  display: flex;
  color: lightgray;
  font-size: calc(20px + 3vw);
  text-align: center;
  padding: 0px 10px;
  margin: 5px 10px !important;
}

.divider {
  width: 6px;
  height: calc(100vh - 32px);
  background: lightgray;
  min-height: 118px !important;
  border-bottom: 10px solid white;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 5px 10px !important;
  background: rgba(139, 0, 139, 0.285) !important;
  color: beige !important;
  font-style: oblique;
  height: 35px;
}

.buttonInner {
  display: flex;
  flex-direction: row;
  height: 25px !important;
  white-space: nowrap;
  padding: 0px 6px !important;
  align-self: baseline;
}

.button:hover {
  background: rgba(139, 0, 139, 0.424) !important;
}

/* LESS THAN 500px */
@media screen and (max-width: 499px) {
  .buttonsAndText {
    flex-direction: column;
  }
  .divider {
    width: calc(100vw - 32px);
    height: 4px !important;
    min-height: unset !important;
    border-bottom: 0px solid white;
    margin: 35px 0px 15px 0px;
  }

}