.background {
  display: flex;
  right: 0px;
  flex-direction: row;
  z-index: 4;
  margin-right: 16px;
  margin-top: 30.5px;
}

.buttonIn {
  display: flex;
  padding: 6px 6px !important;
  background: white !important;
  align-items: flex-start;
  text-transform: none !important;
  color: #3c4043 !important;
  letter-spacing: 0.25px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  max-width: calc(100vw - 60.5px) !important;
}

.buttonIn:hover {
  background: #ededed !important
}

.buttonInInner {
  display: flex;
  min-height: 0vh !important;
  height: 25px !important;
  white-space: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  padding: 2px 6px 0px 3px!important;
}

.buttonWidthHelper {
  text-transform: none !important;
  padding: 6px 6px !important;
  width: fit-content;
  letter-spacing: 0.25px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  align-items: flex-start;
}

.buttonWidthHelperInner {
  display: flex !important;
  display: flex;
  min-height: 0vh !important;
  height: 25px !important;
  background: yellow;
  white-space: nowrap;
  justify-content: flex-start;
  padding: 0px 6px !important;
}

.bgOut {
  margin-left: 8px !important;
  padding: 0vw !important;
  min-width: 0px !important;
  width: 36.5px !important;
}

/* BREAKPOINTS */
/* MIN <    MED    > LAR */
/* 424 < 425 ~ 825 > 826 */

/* MINPORT */
@media screen and (orientation: portrait) and (max-width: 424px) {
  .background {
    margin-right: 8px;
    margin-top: 98px;
  }
}

/* LESS THAN 800px */
@media screen and (max-width: 800px) {
  .background {
    margin-right: 8px;
    margin-top: 98px;
  }
}

/* MORE THAN 800px */
@media screen and (min-width: 801px) {
  .background {
    margin-right: 16px !important;
    visibility: visible !important
  }
}