.background {
  display: flex;
  right: 0px;
  flex-direction: row;
  z-index: 4;
  margin-right: 16px;
  margin-top: 30.5px;
}

.buttonIn {
  display: flex;
  padding: 6px 6px !important;
  width: 30px;
  background: white !important;
  align-items: flex-start;
  text-transform: none !important;
  color: #3c4043 !important;
  letter-spacing: 0.25px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  max-width: calc(100vw - 60.5px) !important;
}

.buttonIn:hover {
  background: #ededed !important
}

.buttonInInner {
  display: flex;
  min-height: 0vh !important;
  height: 25px !important;
  white-space: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  padding: 2px 6px 0px 3px!important;
}

.buttonWidthHelper {
  text-transform: none !important;
  padding: 6px 6px !important;
  width: fit-content;
  letter-spacing: 0.25px;
  font-family: "Google Sans", arial, sans-serif;
  font-weight: 500;
  align-items: flex-start;
  /* max-width: calc(100vw - 60.5px) !important; */
}

.buttonWidthHelperInner {
  display: flex !important;
  display: flex;
  min-height: 0vh !important;
  height: 25px !important;
  background: yellow;
  white-space: nowrap;
  justify-content: flex-start;
  padding: 0px 6px !important;
}

.bgOut {
  margin-left: 8px !important;
  padding: 0vw !important;
  min-width: 0vh !important;
  width: 36.5px !important;
}

@media screen and (max-width: 800px) { /* LESS THAN 800px */
  .background { margin-right: 87px }
}

@media screen and (min-width: 801px) { /* MORE THAN 800px */
  .background { margin-right: 16px !important }
}

/* BREAKPOINTS */
/* MIN <    MED    > LAR */
/* 424 < 425 ~ 825 > 826 */

/* MINPORT */
@media screen and (orientation: portrait) and (max-width: 424px) {
  .background {
    margin-right: 8px;
    margin-top: 98px;
  }
  /* .buttonIn {
    max-width: calc(100vw - 60.5px);
  }
  .buttonWidthHelper {
    max-width: calc(100vw - 60.5px);
  } */
 /*  .buttonWidthHelperInner:before {
    content: ' ';
  }
  .test:before {
    content: ' ';
  } */
}

/* MINPORT */
/* @media screen and (orientation: portrait) and (max-width: 424px) { */
/* LESS THAN 800px */
@media screen and (max-width: 800px) {
  .background {
    margin-right: 8px;
    margin-top: 98px;
  }
  /* .buttonIn {
    max-width: calc(100vw - 60.5px);
  }
  .buttonWidthHelper {
    max-width: calc(100vw - 60.5px);
  } */
  /* .test:before {
    content: ' ';
  } */
}

/* MORE THAN 800px */
@media screen and (min-width: 801px) {
  .background {
    visibility: visible !important
  }
}

@media screen and (orientation: landscape) and (max-height: 424px) { /* MINLAND */
  .background {
    /* margin-right: 16px !important; */
  }
}

@media screen and (min-width: 425px) { /* MORE THAN 425px */
  /* .buttonWidthHelperInner:before {
    content: '  Signed in as' !important;
  }
  .test:before {
    content: '  Signed in as' !important;
  } */
 /*  .buttonWidthHelperInner:before {
    content: var(--buttonGLContent) !important;
  }
  .test:before {
    content: var(--buttonGLContent) !important;
  } */
}

