.background {
  /* background: orange !important; */ /* DEV */
  display: flex;
  background: rgba(148, 179, 138, 0.171); /* GREEN EFFECT */
  justify-content: space-between;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  /* z-index: 0; */ /* DEV */
  min-height: 350px !important;
  justify-content: center;
}

.mainContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px !important;
  /* background: lightpink; */ /* DEV */
}

.errorGif {
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
}

.placeholderAnimation {
  position: relative;
  z-index: 1001;
  animation: error .8s steps(12, end) infinite;
  margin-top: -200px;
  width: 200px;
  height: 200px;
}

@keyframes error {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

.message {
  display: flex;
  position: relative;
  color: antiquewhite;
  text-shadow: 0px 0px 10px black;
  font-size: 20px;
}

/* ONLY SMAPORT AND SMALAND */
@media screen
and (orientation: portrait)
and (max-device-width: 424px),
screen
and (orientation: landscape)
and (max-device-height: 424px) {
  .background { min-height: 280px !important }
}