/* .testTitle {
  -webkit-touch-callout: none important!;
  -moz-user-select: none important!;
  -khtml-user-select: none important!;
  -webkit-user-select: none important!;
  -ms-user-select: none important!;
  user-select: none important!;
}

#title {
  -webkit-touch-callout: none important!;
  -moz-user-select: none important!;
  -khtml-user-select: none important!;
  -webkit-user-select: none important!;
  -ms-user-select: none important!;
  user-select: none important!;
} */


[class*="-MuiFormControl-root-MuiTextField-root"] {
  /* color: red !important; */
  -webkit-touch-callout: none important!;
  -moz-user-select: none important!;
  -khtml-user-select: none important!;
  -webkit-user-select: none important!;
  -ms-user-select: none important!;
  user-select: none important!;
  ::selection {
    /* color: red; */
    /* color: transparent !important; */
    /* background-color: red !important; */
    /* background: red !important; */
    color: transparent !important;
    /* background: transparent !important; */
  }
}

.testTitle {
  -webkit-touch-callout: none important!;
  -moz-user-select: none important!;
  -khtml-user-select: none important!;
  -webkit-user-select: none important!;
  -ms-user-select: none important!;
  user-select: none important!;
  ::selection {
    /* color: red; */
    /* color: transparent !important; */
    /* background-color: red !important; */
    /* background: red !important; */
    /* color: blue !important; */
    background: blue !important;
  }
} 