.background {
  background: orange; /* DEV */
  display: flex;
  position: relative;
  justify-content: center;
  padding-bottom: 16px;
}

.form {
  /* background: darkmagenta !important; */ /* DEV */
  display: flex;
  position: relative;
  width: 90%;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-width: 800px;
  margin-top: 16px;
  padding-bottom: 6px;

  background: linear-gradient(135deg, rgba(196, 34, 147, 0.1), rgba(196, 34, 147, 0));
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  border-radius: 4px;
}

.imageSearcher {
  display: flex;
  position : relative;
  background: antiquewhite; /* dev */
  width: 400px !important;
  height: 300px !important;
  align-items: center;
  margin-top: 16px;
}

.createYourOwnRecipe {
  background: orange; /* DEV */
  font-family: Roboto;
  letter-spacing: 0.15008px;
  line-height: 24px;
  margin-top: 7px;
  color: beige;
  width: 90%;
  text-align: center;
}

.title {
  /* background: orange; */ /* DEV */
  font-family: Roboto;
  letter-spacing: 0.15008px;
  line-height: 24px;
  margin-top: 7px;
  color: beige
}

.eachRow {
  /* background: gray; */ /* DEV */
  margin: 6px 0px;
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px) !important;
}

.eachRow:last-child { justify-content: center; }

.text {
  display: flex;
  flex-direction: row;
  color: beige;
  background: transparent !important;
  min-width: 113px;
  width: 113px;
  height: 56px;
  justify-content: center;
  align-items: center;
}

.textFieldInput {
  color: transparent
}

.summaryContainer {
  background: salmon; /* DEV */
  display: flex;
  position: relative;
  width: 100% !important;
}

.summaryContainer ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important
}

.selectContainer {
  display: flex;
  position: relative;
  width: 100% !important;
}

.selectContainer ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important
}

.select {
  display: flex;
  position: relative;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 4px;
  color: rgba(245, 245, 220, 0.85) !important /* WHEN SELECTED */
}

.selectInput {
  white-space: break-spaces !important;
}

.select ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important; /* PLACEHOLDER */
}

.input { /* ...noSelect; */
  display: flex;
  position: relative;
  background: rgba(128, 128, 128, 0.2);
  border-radius: 4px;
  width: 100% !important;
}

.input ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important; /* PLACEHOLDER */
}

.inputStyle {
  color: rgba(245, 245, 220, 0.85) !important; /* HIDDEN, ONLY LABEL SHOWN */
  caret-color: rgba(0, 0, 0, 0.87) !important;
}

.inputShownTitle {
  display: flex !important;
  white-space: pre !important; /* SINGLE LINE */
  margin-left: 14px !important;
  padding: 17px 0px 16.5px 0px !important;
  position: absolute !important;
  width: calc(100% - 113px - 28px);
}

.inputHiddenTitle {
  display: flex !important;
  position: relative !important;
  background: rgba(128, 128, 128, 0.2); /* INPUT BACKGROUND */
  border-radius: 4px;
}

.inputShownTitle mark {
  color: rgba(245, 245, 220, 0.85) !important; /* MARKDOWN COLOR */
  background: rgba(0, 255, 0, 0.4) !important; /* MARKDOWN BACKGROUND */
}

.inputHiddenTitle ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important; /* PLACEHOLDER */
}

.inputImage {
  color: rgba(245, 245, 220, 0.85) !important; /* HIDDEN, ONLY LABEL SHOWN */
  caret-color: rgba(0, 0, 0, 0.87) !important;
}

.inputHealth {
  color: rgba(245, 245, 220, 0.85) !important; /* HIDDEN, ONLY LABEL SHOWN */
  caret-color: rgba(0, 0, 0, 0.87) !important;
}

.inputShownSummary {
  background: lightblue; /* DEV */
  display: flex;
  flex-wrap: wrap !important; /* MULTILINE */
  white-space: pre-wrap !important; /* MULTILINE */
  overflow-wrap: break-word; /* MULTILINE */
  margin-left: 14px !important;
  padding: 16.5px 0px 16.5px 0px !important;
  position: absolute !important;
  width: calc(100% - 28px);  /* width: calc(100% - 113px - 28px); */
  color: transparent !important; /* NO GRAY COLOR */
}

.inputHiddenSummary {
  display: flex;
  position: relative;
  width: 100% !important;
  background: rgba(128, 128, 128, 0.2); /* INPUT BACKGROUND */
  border-radius: 4px;
}

.inputShownSummary mark {
  color: rgba(245, 245, 220, 0.85) !important; /* MARKDOWN COLOR */
  background: rgba(0, 255, 0, 0.4) !important; /* MARKDOWN BACKGROUND */
}

.inputSummary {
  color: rgba(245, 245, 220, 0.85) !important; /* HIDDEN, ONLY LABEL SHOWN */
  caret-color: rgba(0, 0, 0, 0.87) !important;
}

.instructionsContainer {
  /* background: red; */ /* DEV */
  width: 100% !important;
}

.inputShownInstructions {
  background: lightblue; /* DEV */
  display: flex;
  flex-wrap: wrap !important; /* MULTILINE */
  white-space: pre-wrap !important; /* MULTILINE */
  overflow-wrap: break-word; /* MULTILINE */
  margin-left: 14px !important;
  padding: 16.5px 0px 16.5px 0px !important;
  position: absolute !important;
  color: transparent !important; /* NO GRAY COLOR */
}

.inputHiddenInstructions {
  /* background: lightgreen; */ /* DEV */
  background: rgba(128, 128, 128, 0.2); /* INPUT BACKGROUND */
  border-radius: 4px;
  display: flex;
  position: relative;
  width: 100% !important;
}

.inputHiddenInstructions ::placeholder {
  color: rgba(245, 245, 220, 0.3) !important
}

.inputShownInstructions mark {
  color: rgba(245, 245, 220, 0.85) !important; /* MARKDOWN COLOR */
  background: rgba(0, 255, 0, 0.4) !important; /* MARKDOWN BACKGROUND */
}

.inputInstructions {
  color: rgba(245, 245, 220, 0.85) !important; /* HIDDEN, ONLY LABEL SHOWN */
  caret-color: rgba(0, 0, 0, 0.87) !important;
}

.inputStep {
  width: 48vw;
}

.label {
  color: rgba(245, 245, 220, 0.3) !important;
}

.stepsContainer {
  background: yellow; /* DEV */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.eachStep {
  background: salmon !important; /* DEV */
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 12px;
  justify-content: flex-start;
}

.eachStep:last-child { margin-bottom: 0px }

/* eachRow 80vw */
/* (text) 12vw + 68vw (input) */
/* (text) 12vw + 6vw (step) + 48vw (input) + 7vw (button) + 7vw (button) */

.stepTitle {
  /* background: yellow; */ /* DEV */
  color: beige;
  display: flex;
  flex-direction: row;
  width: 57px;
  min-width: 57px;
  height: 56px;
  justify-content: center;
  align-items: center
}

.newStepTooltip {
  display: flex !important;
  flex-direction: column;
  text-align: center
}

/* NEXT HELPS TOOLTIP WHEN
BUTTON IS DISABLED */

.buttonNewHelper {
  align-self: center;
  /* background: gray; */ /* DEV */
  margin-left: 10px;
  margin-right: 10px;
}

.buttonNew {
  display: flex;
  position: relative;
  white-space: nowrap;
  height: 36.5px;
  color: white;
  align-self: center;
  min-width: 0px !important;
  min-height: 0px !important;
}

.buttonNew:hover {
  background: #047a04 !important
}

/* NEXT HELPS TOOLTIP WHEN
BUTTON IS DISABLED */

.buttonDeleteHelper {
  align-self: center;
}

.buttonDelete {
  white-space: nowrap;
  height: 36.5px;
  color: white;
  align-self: center;
  min-width: 0px !important;
}

.buttonDelete:hover {
  background: #eb0909 !important
}

.optionsLeft {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 0.5vw;
}

.optionsRight {
  display: flex;
  flex-direction: column;
}

.buttonClearSave {
  margin: 0px 5px !important;
}

.innerTooltip {
  /* background: orange !important; */ /* DEV */
  display: flex;
  max-width: 70vw;
  flex-direction: column;
  color: #25252d;
  background: #f5f5f9;
  font-family: Roboto;
}

/* BREAKPOINTS */
/* MIN <    MED    > LAR */
/* 424 < 425 ~ 825 > 826 */

/* MINPORT */
@media screen and (orientation: portrait) and (max-width: 424px) {
  .background { width: 100vw !important}
  .imageSearcher { width: 90% !important }
  .text { display: none }
  .stepTitle  { display: none }
  .inputShownTitle { width: calc(100% - 28px) }
  .inputShownInstructions {
    width: calc(100% - 10px - 40px - 10px - 40px - 28px) !important; /* 100% - 113px - 57px - 10px - 40px - 10px - 40px - 28px */
  }
}

/* LESS THAN 650px */
@media screen and (max-width: 650px) {
  .buttonNew {
    max-width: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
  }
  .buttonNew:after {
    content: '✔️';
  }
  .buttonDelete {
    max-width: 40px !important;
    min-width: 40px !important;
    width: 40px !important;
  }
  .buttonDelete:after {
    content: '❌';
  }
  .inputShownInstructions {
    /* width: calc(100% - 298px); */ /* 100% - 113px - 57px - 10px - 40px - 10px - 40px - 28px */
    width: calc(100% - 113px - 57px - 10px - 40px - 10px - 40px - 28px)
  }
}

/* MORE THAN 651px */
@media screen and (min-width: 651px) {
  .buttonNew {
    max-width: 60px !important;
    min-width: 60px !important;
    width: 60px !important;
  }
  .buttonNew:after {
    content: 'ADD';
  }
  .buttonDelete {
    max-width: 80px !important;
    min-width: 80px !important;
    width: 80px !important;
  }
  .buttonDelete:after {
    content: 'DELETE';
  }
  .inputShownInstructions {
    /* width: calc(100% - 358px); */ /* 100% - 113px - 57px - 10px - 60px - 10px - 80px - 28px */
    width: calc(100% - 113px - 57px - 10px - 60px - 10px - 80px - 28px); /* 100% - 113px - 57px - 10px - 40px - 10px - 40px - 28px */
  }
}