.button {
  position: fixed !important;
  transform: rotate(90deg);
  bottom: 10px;
  background: rgba(46, 230, 163, 0.377) !important;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37) !important;
  color: antiquewhite !important;
  right: 10px;
  min-width: 43px !important;
  width: 43px !important;
  height: 43px;
}

.button:hover {
  background: rgba(45, 204, 146, 0.377) !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.37) !important;
}