.background {
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  align-self: center;
  padding-bottom: 9px !important;
}

.notFoundOrLoading {
  background: rgba(138, 179, 179, 0.171);
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 260px;
  align-items: center;
  justify-content: center;
  color: rgba(240, 248, 255, 0.726);
  font-size: calc(32px + 3vw);
  white-space:nowrap;
  margin-top: 7px;
  white-space: balance;
  text-align: center;
}
