.background {
  /* background: gray !important; */ /* DEV */
  display: flex;
  position: relative;
  flex-direction: column;
  /* top: 100px; */
  width: 100%;
  /* height: calc(100vh - 100px); */
  /* margin-top: 5px; */
  margin-top: 100px;
  margin-bottom: 10px;
}

.accordionContainer {
  /* width: 800px !important; */
  margin: 10px 10px 5px 10px;
}

.accordion {
  background: beige !important;
  /* width: 800px !important; */
  max-width: 800px !important;
  border-radius: 8px !important;
  border: 2px solid gray !important;
}

.accordionContainerDouble {
  /* width: 800px !important; */
  /* margin: 10px 10px 5px 10px; */
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.accordionDouble {
  background: beige !important;
  /* width: 800px !important; */
  max-width: 800px !important;
  /* border-radius: 8px !important; */
  border: 2px solid gray !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.accordionDoubleUpper {
  border-radius: 8px 8px 0px 0px !important;
}

.accordionDoubleLower {
  border-radius: 0px 0px 8px 8px !important;
  border-top: 0px !important;
}

.testTestTest {
  pointer-events: none;
}

.switch {
  margin-left: 12px;
  width: 38px !important;
  height: 22px !important;
  padding: 0px !important;
  /* background: red !important; */ /* DEV */
}

.track { /* SWITH BACKGROUND */
  border-radius: 40px !important;
  height: 22px !important;
  padding: 0px !important;
  opacity: 1 !important;
  transition-duration: 500 !important;
}

.trackEnabled { /* ENABLED BACKGROUND COLOR */
  background-color: #65C466!important;
}

.trackDisabled { /* DISABLED BACKGROUND COLOR */
  background-color: lightgray !important;
}

.thumb { /* SWITH CIRCLE */
  width: 18px !important;
  height: 18px !important;
  background-color: #fff !important;
  color: #33cf4d !important;
  border: 0px !important;
}

.switchBase {
  left: -7px !important;
  top: -7px !important;
  transition-duration: 300ms !important;
}

.checked { /* DISABLES GLOW */
  transform: translateX(16px) !important;
  color: #fff !important;
  color: transparent !important;
  background-color: transparent !important;
}

.colorPrimary { /* DISABLES GLOW */
  color: transparent !important;
  background-color: transparent !important;
}

.text {
  /* background: red; */ /* DEV */
  margin-left: 8px;
  margin-bottom: 2px;
  align-self: center;
}

.iconInfo {
  transform: rotate(180deg);
  cursor: pointer !important;
}

.defaultCursor {
  cursor: default !important;
  left: -10px !important;
  margin-right: -10px !important;
  background-color: transparent !important; /* DISABLE NUMBER INPUT BG COLOR WHEN FOCUSED */
}

.numberInputRoot {
  font-family: IBM Plex Sans, sans-serif;
  font-weight: 400;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.numberInputInput {
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 400;
  height: 32px;
  color: #212121;
  background: #cfd8dc;
  border: 0px solid #eeeeee;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0.05);
  padding: 0px;
  outline: 0;
  min-width: 0;
  width: 4rem;
  text-align: center;
}

.numberInputInput:hover {
  border-color: #42a5f5;
}

.numberInputInput:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 0 2px #90caf9 inset;
}

.numberInputInput:focus-visible {
  outline: 0;
}

.numberInputButton {
  font-family: IBM Plex Sans, sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  line-height: 1.5;
  border: 0px solid;
  border-color: #eeeeee;
  background: #78909c;
  color: #212121;
  width: 32px;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 120ms;
}

.numberInputButton:hover {
  cursor: pointer;
  background: #90a4ae;
  border-color: #42a5f5;
  color: #212121;
}

.numberInputButton:focus-visible {
  outline: 0;
}

.increment {
  order: 1
}

/* BREAKPOINTS */
/* MIN <    MED    > LAR */
/* 424 < 425 ~ 825 > 826 */